{% block style %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0px;
}

.card {
    width: 220px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:rgb(238, 206, 165);

}

.card .h4 {
    font-weight: 1000;
}

.color
{
  background-color: blue;
}

</style>
{% endblock %}
{% block content %}
<div style="margin-left:500px">
    {% for a in prevquiz %}
      <br>
      <form method="POST" action="/tresult">
      <div class="card pb-4">
        <input type="submit" formaction="/tresult" name="qname" value="{{ a[0] }}">
        <a href="/tresult" class="link-dark" >
        <p class="h4 pt-4">
          
        </p>
        </a>
      </div>
    {% endfor %}
  </div> 
  {% endblock %}
  