{% extends "layout.html" %}
{% block content %}
<br>
<form method="POST" action="/register" class="container">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input name="namef" type="text" class="form-control" id="validationCustom01" value="" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input name="namel" type="text" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username/Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input name="emaile" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Register As</label>
    <select name="prof" class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>Teacher</option>
      <option>Student</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid option.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Password</label>
    <input name="passwordp" type="password" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please enter a password.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Confirm Password</label>
    <input name="passwordcon" type="password" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please confirm the password.
    </div>
  </div>
  <br>
  <div class="col-12">
    <button class="btn btn-primary" action="/register">Register</button>
  </div>
</form>

{% endblock content %}